<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Fila de Atendimento</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" >
	 
</head>
<body>

	<div class="container mt-5">
		<h2>Fila de Atendimento</h2>
		<a href="/pacientes/formulario" class="btn btn-primary mb-3">+ Cadastrar Paciente</a>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Posição</th>
					<th>Nome</th>
					<th>Triagem</th>
					<th>Horario de Chegada</th>
					<th>Ação</th>
				</tr>
			</thead>
			<tbody>
			 <tr th:each="paciente, iterStat : ${pacientes}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${paciente.nome}"></td>
                <td>
                    <span th:switch="${paciente.corTriagem.name()}">
                        <span th:case="'VERMELHO'" class="badge bg-danger">Vermelho</span>
                        <span th:case="'LARANJA'" class="badge bg-warning text-dark">Laranja</span>
                        <span th:case="'AMARELO'" class="badge bg-warning">Amarelo</span>
                        <span th:case="'VERDE'" class="badge bg-success">Verde</span>
                        <span th:case="'AZUL'" class="badge bg-primary">Azul</span>
                    </span>
                </td>
                <td th:text="${paciente.data}"></td>
                <td>
                    <form th:action="@{/pacientes/chamar/{id}(id=${paciente.id})}" method="post">
                        <button type="submit" class="btn btn-success btn-sm">Chamar</button>
                    </form>
                </td>
            </tr>
			</tbody>
		</table>
	</div>

</body>

</html>